#main {
    -fx-font-family: Helvetica;
    -fx-background-color: rgb(89, 202, 187);
}
#main GridPane {
    -fx-background-color: rgb(255, 255, 255);
}
#spelerToevoegen {
    -fx-background-color: rgba(0, 0, 0, 1);
}
#startSpel {
    -fx-background-color: rgb(0, 149, 255);
}