BorderPane {
    -fx-background-color: rgb(89, 202, 187);
    -fx-font-family: Helvetica;
    -fx-font-size: 13;
    -fx-font-weight: bold;
}
.cardShow {
    -fx-font-size: 16;
}
.tile:hover {
    -fx-background-color: rgba(253, 75, 75, 0.75);
}
#center {
    -fx-border-color: black;
    -fx-border-width: 1;
}
#temp {
    -fx-background-color: rgb(89, 202, 187);
    -fx-background-radius: 10;

    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 8;
}

#temp2 {
    -fx-background-color: rgb(255, 255, 255);

    -fx-border-color: black;
    -fx-border-width: 2.5;
}

.invisble {
    -fx-opacity: 0;
}