BorderPane {
    -fx-background-color: AQUA;
    -fx-font-family: Helvetica;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
#center {
    -fx-background-color: rgb(255, 0, 0, 0.6);
}
#zone1 Pane {
    -fx-background-color: BROWN;
}
#zone2 Pane {
    -fx-background-color: BLUE;
}